<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjxPoPR8K1DEijYx8NOxOEatfbK4hn9DU&sensor=false"
  type="text/javascript"></script>

<script type="text/javascript"> 
function initialize() {
  
  var myLatlng = new google.maps.LatLng(<%= @zip_code %>);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  }
  var styleArray = [
  {
    featureType: "all",
    stylers: [
      { saturation: -80 }
    ]
  },{
    featureType: "road.arterial",
    elementType: "geometry",
    stylers: [
      { hue: "#00ffee" },
      { saturation: 50 }
    ]
  },{
    featureType: "poi.business",
    elementType: "labels",
    stylers: [
      { visibility: "off" }
    ]
  }
];
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  map.setOptions({styles: styleArray});
  setMarkers(map, stores);
}
  var stores = [<% @stores.each do |x| %>
        [<%= x.latitude %> , <%= x.longitude %>, "<%= x.name %>", "<%= x.street %>", <%= x.id %>], 
        <% end %>
  ];
  function setMarkers (map, locations) {
  for (i = 0; i < locations.length; i++) {  
        var store = locations[i];
        var myLatLng = new google.maps.LatLng(store[0], store[1]);
        var marker = new google.maps.Marker({
        position: myLatLng,
        icon: {
      path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
      scale: 5, 
      hue: "#00ffee"
    },
        map: map, 
        title: store[2], 
      });
        marker.hello = new google.maps.InfoWindow({
          content: '<a data-remote="true" data-target="#store-modal" data-toggle="modal" href="/stores/' + store[4] +'">' + store[2] + '</a>'
      });
        google.maps.event.addListener(marker, 'click', function() {
            this.hello.open(map, this);
      });
  } 
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas"></div>



