<% provide(:title, 'about') %>

<div class="buffer"></div>

<div class="row">
  <h1 class="text-center">about</h1>
</div>

<div class="buffer"></div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("email.ico") %>
      <div class="caption">
        <h3>Email</h3>
        <p>You receive an email for a chef designed gormet meal prepared that day</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("search.ico") %>
      <div class="caption">
        <h3>Search Availability</h3>
        <p>Choose a nearby grocery store to preportion the ingredients for you</p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("buy.jpg") %>
      <div class="caption">
        <h3>Place Order</h3>
        <p>Order the preportioned meal by 1:00pm that day</p>
      </div>
    </div>
  </div>
</div>

<div class="buffer"></div>

<div class="row">

  <div class="col-md-2"></div>  

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <%= image_tag("car.jpg") %>
        <div class="caption">
          <h3>Pick-up</h3>
          <p>Pick up the preportioned meal anytime after 4:00pm</p>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <%= image_tag("eat.jpg") %>
        <div class="caption">
          <h3>Eat!</h3>
          <p>Eat your stress-free and delicious, home-cooked dinner</p>
        </div>
      </div>
    </div>

  <div class="col-md-2"></div>  

</div>